# Don't remove the zsh-quickstart-kit comment or selfupdate will break.
# zsh-quickstart-kit
*.*.un~
*.a
*.bz2
*.gz
*.o
*.pyc
*.pyo
*.sublime-project
*.sublime-workspace
*.tbz
*.tbz2
*.tgz
*.Z
*~
.DS_Store
